<div align=center>
		
<p></p>
<p></p>
<font size=5>
In the Name of God
<font/>
<p></p>
 <br/>
    <br/>
    <br/>
<font color=#FF7500>
Sharif University of Technology - Departmenet of Computer Engineering
</font>
<p></p>
<font color=blue>
Machine Learning - Dr. Abbas Hosseini
</font>
<br/>
<br/>
Fall 2021

</div>

<hr/>
		<div align=center>
		    <font color=red size=6>
			    <br />
Project
            	<br/>
			</font>
<font size=4>
			<br/>
      Amin Meghrazi<br/>
      Seyed Alireza Mousavizade<br/>
      Yashar Zoroufchi Banisi
</font>
    </div>

# Libraries and Packages

In [5]:
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns     

from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Loading Training Dataset

In [6]:
path = "/content/drive/MyDrive/ML_dataset/train_dataset.csv"
df = pd.read_csv(path)
df.head()

   Sale  ...                           user_id
0     0  ...  5E2C678F6586B67F61A377E1534E01FC
1     0  ...  E8247702C0DD294E0AE6B5B5E2F9E810
2     0  ...  9FD001258907F541D497040C64383696
3     0  ...  225741ACF2DBB2E5948268F5D5D352E6
4     0  ...  160A90377E54124D0BD31DB6735F0B33

[5 rows x 23 columns]

# EDA

## Getting Primarily Insight

In [7]:
df.shape

(100000, 23)

In [8]:
df.columns

Index(['Sale', 'SalesAmountInEuro', 'time_delay_for_conversion',
       'click_timestamp', 'nb_clicks_1week', 'product_price',
       'product_age_group', 'device_type', 'audience_id', 'product_gender',
       'product_brand', 'product_category(1)', 'product_category(2)',
       'product_category(3)', 'product_category(4)', 'product_category(5)',
       'product_category(6)', 'product_category(7)', 'product_country',
       'product_id', 'product_title', 'partner_id', 'user_id'],
      dtype='object')

In [9]:
df.nunique(axis = 0)

Sale                             2
SalesAmountInEuro             8932
time_delay_for_conversion     9208
click_timestamp              67045
nb_clicks_1week               1138
product_price                 4496
product_age_group                9
device_type                      4
audience_id                   3182
product_gender                  11
product_brand                 4770
product_category(1)             22
product_category(2)            145
product_category(3)            699
product_category(4)            910
product_category(5)            442
product_category(6)             89
product_category(7)              1
product_country                 17
product_id                   45447
product_title                27695
partner_id                     183
user_id                      96766
dtype: int64

In [10]:
stats = df.describe()
stats

                Sale  SalesAmountInEuro  ...  product_price  product_category(7)
count  100000.000000      100000.000000  ...  100000.000000             100000.0
mean        0.136610          15.124148  ...      10.929187                 -1.0
std         0.343437         147.248702  ...      65.574247                  0.0
min         0.000000          -1.000000  ...       0.000000                 -1.0
25%         0.000000          -1.000000  ...       0.000000                 -1.0
50%         0.000000          -1.000000  ...       0.000000                 -1.0
75%         0.000000          -1.000000  ...       0.000000                 -1.0
max         1.000000       23691.224980  ...    3928.000000                 -1.0

[8 rows x 6 columns]

## Cleaning Dataset

### Removing Redundant Variables

In [12]:
df_dropped = df.copy().drop(['product_category(7)', 'audience_id'], axis = 1)
df_dropped.head()

   Sale  ...                           user_id
0     0  ...  5E2C678F6586B67F61A377E1534E01FC
1     0  ...  E8247702C0DD294E0AE6B5B5E2F9E810
2     0  ...  9FD001258907F541D497040C64383696
3     0  ...  225741ACF2DBB2E5948268F5D5D352E6
4     0  ...  160A90377E54124D0BD31DB6735F0B33

[5 rows x 21 columns]

In [29]:
null_columns = []
for column in df_dropped.columns:
  if column == 'click_timestamp':
    df_null = df_dropped[df_dropped[column] == 0]
    if df_null.shape[0] / df_dropped.shape[0] > 0.45:
      null_columns.append(column)
  else:
    df_null = df_dropped[df_dropped[column] == -1]
    if df_null.shape[0] / df_dropped.shape[0] > 0.45:
      null_columns.append(column)
df_less_null = df_dropped.copy().drop(null_columns, axis=1)
df_less_null.head()

   Sale  ...                           user_id
0     0  ...  5E2C678F6586B67F61A377E1534E01FC
1     0  ...  E8247702C0DD294E0AE6B5B5E2F9E810
2     0  ...  9FD001258907F541D497040C64383696
3     0  ...  225741ACF2DBB2E5948268F5D5D352E6
4     0  ...  160A90377E54124D0BD31DB6735F0B33

[5 rows x 18 columns]